/* Agora vai */


/* Container */

.container {
    margin: 0 auto;
    max-width: calc(100% - 50px);
    width: 1200px;
  }
  
    .container.medium {
      width: 900px;
    }
  
    @media screen and (max-width: 1680px) {
  
      .container {
        width: 1200px;
      }
  
        .container.medium {
          width: 900px;
        }
  
    }
  
    @media screen and (max-width: 1280px) {
  
      .container {
        width: 960px;
      }
  
        .container.medium {
          width: 720px;
        }
  
    }
  
    @media screen and (max-width: 980px) {
  
      .container {
        width: 100%;
      }
  
        .container.medium {
          width: 75%;
        }
  
    }
  
    @media screen and (max-width: 736px) {
  
      .container {
        width: 100%;
        max-width: calc(100% - 30px);
      }
  
        .container.medium {
          width: 100%;
        }
  
    }
  
  /* Row */
  
  .fila {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  
    .fila > * {
      box-sizing: border-box;
    }
  
    .fila.gtr-uniform > * > :last-child {
      margin-bottom: 0;
    }
  
    .fila.aln-left {
      justify-content: flex-start;
    }
  
    .fila.aln-center {
      justify-content: center;
    }
  
    .fila.aln-right {
      justify-content: flex-end;
    }
  
    .fila.aln-top {
      align-items: flex-start;
    }
  
    .fila.aln-middle {
      align-items: center;
    }
  
    .fila.aln-bottom {
      align-items: flex-end;
    }
  
    .fila > .imp {
      order: -1;
    }
  
    .fila > .col-1 {
      width: 8.33333%;
    }
  
    .fila > .off-1 {
      margin-left: 8.33333%;
    }
  
    .fila > .col-2 {
      width: 16.66667%;
    }
  
    .fila > .off-2 {
      margin-left: 16.66667%;
    }
  
    .fila > .col-3 {
      width: 25%;
    }
  
    .fila > .off-3 {
      margin-left: 25%;
    }
  
    .fila > .col-4 {
      width: 33.33333%;
    }
  
    .fila > .off-4 {
      margin-left: 33.33333%;
    }
  
    .fila > .col-5 {
      width: 41.66667%;
    }
  
    .fila > .off-5 {
      margin-left: 41.66667%;
    }
  
    .fila > .col-6 {
      width: 50%;
    }
  
    .fila > .off-6 {
      margin-left: 50%;
    }
  
    .fila > .col-7 {
      width: 58.33333%;
    }
  
    .fila > .off-7 {
      margin-left: 58.33333%;
    }
  
    .fila > .col-8 {
      width: 66.66667%;
    }
  
    .fila > .off-8 {
      margin-left: 66.66667%;
    }
  
    .fila > .col-9 {
      width: 75%;
    }
  
    .fila > .off-9 {
      margin-left: 75%;
    }
  
    .fila > .col-10 {
      width: 83.33333%;
    }
  
    .fila > .off-10 {
      margin-left: 83.33333%;
    }
  
    .fila > .col-11 {
      width: 91.66667%;
    }
  
    .fila > .off-11 {
      margin-left: 91.66667%;
    }
  
    .fila > .col-12 {
      width: 100%;
    }
  
    .fila > .off-12 {
      margin-left: 100%;
    }
  
    .fila.gtr-0 {
      margin-top: 0px;
      margin-left: 0px;
    }
  
      .fila.gtr-0 > * {
        padding: 0px 0 0 0px;
      }
  
      .fila.gtr-0.gtr-uniform {
        margin-top: 0px;
      }
  
        .fila.gtr-0.gtr-uniform > * {
          padding-top: 0px;
        }
  
    .fila.gtr-25 {
      margin-top: -6.25px;
      margin-left: -6.25px;
    }
  
      .fila.gtr-25 > * {
        padding: 6.25px 0 0 6.25px;
      }
  
      .fila.gtr-25.gtr-uniform {
        margin-top: -6.25px;
      }
  
        .fila.gtr-25.gtr-uniform > * {
          padding-top: 6.25px;
        }
  
    .fila.gtr-50 {
      margin-top: -12.5px;
      margin-left: -12.5px;
    }
  
      .fila.gtr-50 > * {
        padding: 12.5px 0 0 12.5px;
      }
  
      .fila.gtr-50.gtr-uniform {
        margin-top: -12.5px;
      }
  
        .fila.gtr-50.gtr-uniform > * {
          padding-top: 12.5px;
        }
  
    .fila {
      margin-top: -25px;
      margin-left: -25px;
    }
  
      .fila > * {
        padding: 25px 0 0 25px;
      }
  
      .fila.gtr-uniform {
        margin-top: -25px;
      }
  
        .fila.gtr-uniform > * {
          padding-top: 25px;
        }
  
    .fila.gtr-150 {
      margin-top: -37.5px;
      margin-left: -37.5px;
    }
  
      .fila.gtr-150 > * {
        padding: 37.5px 0 0 37.5px;
      }
  
      .fila.gtr-150.gtr-uniform {
        margin-top: -37.5px;
      }
  
        .fila.gtr-150.gtr-uniform > * {
          padding-top: 37.5px;
        }
  
    .fila.gtr-200 {
      margin-top: -50px;
      margin-left: -50px;
    }
  
      .fila.gtr-200 > * {
        padding: 50px 0 0 50px;
      }
  
      .fila.gtr-200.gtr-uniform {
        margin-top: -50px;
      }
  
        .fila.gtr-200.gtr-uniform > * {
          padding-top: 50px;
        }
  
    @media screen and (max-width: 1680px) {
  
      .fila {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
      }
  
        .fila > * {
          box-sizing: border-box;
        }
  
        .fila.gtr-uniform > * > :last-child {
          margin-bottom: 0;
        }
  
        .fila.aln-left {
          justify-content: flex-start;
        }
  
        .fila.aln-center {
          justify-content: center;
        }
  
        .fila.aln-right {
          justify-content: flex-end;
        }
  
        .fila.aln-top {
          align-items: flex-start;
        }
  
        .fila.aln-middle {
          align-items: center;
        }
  
        .fila.aln-bottom {
          align-items: flex-end;
        }
  
        .fila > .imp-xlarge {
          order: -1;
        }
  
        .fila > .col-1-xlarge {
          width: 8.33333%;
        }
  
        .fila > .off-1-xlarge {
          margin-left: 8.33333%;
        }
  
        .fila > .col-2-xlarge {
          width: 16.66667%;
        }
  
        .fila > .off-2-xlarge {
          margin-left: 16.66667%;
        }
  
        .fila > .col-3-xlarge {
          width: 25%;
        }
  
        .fila > .off-3-xlarge {
          margin-left: 25%;
        }
  
        .fila > .col-4-xlarge {
          width: 33.33333%;
        }
  
        .fila > .off-4-xlarge {
          margin-left: 33.33333%;
        }
  
        .fila > .col-5-xlarge {
          width: 41.66667%;
        }
  
        .fila > .off-5-xlarge {
          margin-left: 41.66667%;
        }
  
        .fila > .col-6-xlarge {
          width: 50%;
        }
  
        .fila > .off-6-xlarge {
          margin-left: 50%;
        }
  
        .fila > .col-7-xlarge {
          width: 58.33333%;
        }
  
        .fila > .off-7-xlarge {
          margin-left: 58.33333%;
        }
  
        .fila > .col-8-xlarge {
          width: 66.66667%;
        }
  
        .fila > .off-8-xlarge {
          margin-left: 66.66667%;
        }
  
        .fila > .col-9-xlarge {
          width: 75%;
        }
  
        .fila > .off-9-xlarge {
          margin-left: 75%;
        }
  
        .fila > .col-10-xlarge {
          width: 83.33333%;
        }
  
        .fila > .off-10-xlarge {
          margin-left: 83.33333%;
        }
  
        .fila > .col-11-xlarge {
          width: 91.66667%;
        }
  
        .fila > .off-11-xlarge {
          margin-left: 91.66667%;
        }
  
        .fila > .col-12-xlarge {
          width: 100%;
        }
  
        .fila > .off-12-xlarge {
          margin-left: 100%;
        }
  
        .fila.gtr-0 {
          margin-top: 0px;
          margin-left: 0px;
        }
  
          .fila.gtr-0 > * {
            padding: 0px 0 0 0px;
          }
  
          .fila.gtr-0.gtr-uniform {
            margin-top: 0px;
          }
  
            .fila.gtr-0.gtr-uniform > * {
              padding-top: 0px;
            }
  
        .fila.gtr-25 {
          margin-top: -6.25px;
          margin-left: -6.25px;
        }
  
          .fila.gtr-25 > * {
            padding: 6.25px 0 0 6.25px;
          }
  
          .fila.gtr-25.gtr-uniform {
            margin-top: -6.25px;
          }
  
            .fila.gtr-25.gtr-uniform > * {
              padding-top: 6.25px;
            }
  
        .fila.gtr-50 {
          margin-top: -12.5px;
          margin-left: -12.5px;
        }
  
          .fila.gtr-50 > * {
            padding: 12.5px 0 0 12.5px;
          }
  
          .fila.gtr-50.gtr-uniform {
            margin-top: -12.5px;
          }
  
            .fila.gtr-50.gtr-uniform > * {
              padding-top: 12.5px;
            }
  
        .fila {
          margin-top: -25px;
          margin-left: -25px;
        }
  
          .fila > * {
            padding: 25px 0 0 25px;
          }
  
          .fila.gtr-uniform {
            margin-top: -25px;
          }
  
            .fila.gtr-uniform > * {
              padding-top: 25px;
            }
  
        .fila.gtr-150 {
          margin-top: -37.5px;
          margin-left: -37.5px;
        }
  
          .fila.gtr-150 > * {
            padding: 37.5px 0 0 37.5px;
          }
  
          .fila.gtr-150.gtr-uniform {
            margin-top: -37.5px;
          }
  
            .fila.gtr-150.gtr-uniform > * {
              padding-top: 37.5px;
            }
  
        .fila.gtr-200 {
          margin-top: -50px;
          margin-left: -50px;
        }
  
          .fila.gtr-200 > * {
            padding: 50px 0 0 50px;
          }
  
          .fila.gtr-200.gtr-uniform {
            margin-top: -50px;
          }
  
            .fila.gtr-200.gtr-uniform > * {
              padding-top: 50px;
            }
  
    }
  
    @media screen and (max-width: 1280px) {
  
      .fila {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
      }
  
        .fila > * {
          box-sizing: border-box;
        }
  
        .fila.gtr-uniform > * > :last-child {
          margin-bottom: 0;
        }
  
        .fila.aln-left {
          justify-content: flex-start;
        }
  
        .fila.aln-center {
          justify-content: center;
        }
  
        .fila.aln-right {
          justify-content: flex-end;
        }
  
        .fila.aln-top {
          align-items: flex-start;
        }
  
        .fila.aln-middle {
          align-items: center;
        }
  
        .fila.aln-bottom {
          align-items: flex-end;
        }
  
        .fila > .imp-large {
          order: -1;
        }
  
        .fila > .col-1-large {
          width: 8.33333%;
        }
  
        .fila > .off-1-large {
          margin-left: 8.33333%;
        }
  
        .fila > .col-2-large {
          width: 16.66667%;
        }
  
        .fila > .off-2-large {
          margin-left: 16.66667%;
        }
  
        .fila > .col-3-large {
          width: 25%;
        }
  
        .fila > .off-3-large {
          margin-left: 25%;
        }
  
        .fila > .col-4-large {
          width: 33.33333%;
        }
  
        .fila > .off-4-large {
          margin-left: 33.33333%;
        }
  
        .fila > .col-5-large {
          width: 41.66667%;
        }
  
        .fila > .off-5-large {
          margin-left: 41.66667%;
        }
  
        .fila > .col-6-large {
          width: 50%;
        }
  
        .fila > .off-6-large {
          margin-left: 50%;
        }
  
        .fila > .col-7-large {
          width: 58.33333%;
        }
  
        .fila > .off-7-large {
          margin-left: 58.33333%;
        }
  
        .fila > .col-8-large {
          width: 66.66667%;
        }
  
        .fila > .off-8-large {
          margin-left: 66.66667%;
        }
  
        .fila > .col-9-large {
          width: 75%;
        }
  
        .fila > .off-9-large {
          margin-left: 75%;
        }
  
        .fila > .col-10-large {
          width: 83.33333%;
        }
  
        .fila > .off-10-large {
          margin-left: 83.33333%;
        }
  
        .fila > .col-11-large {
          width: 91.66667%;
        }
  
        .fila > .off-11-large {
          margin-left: 91.66667%;
        }
  
        .fila > .col-12-large {
          width: 100%;
        }
  
        .fila > .off-12-large {
          margin-left: 100%;
        }
  
        .fila.gtr-0 {
          margin-top: 0px;
          margin-left: 0px;
        }
  
          .fila.gtr-0 > * {
            padding: 0px 0 0 0px;
          }
  
          .fila.gtr-0.gtr-uniform {
            margin-top: 0px;
          }
  
            .fila.gtr-0.gtr-uniform > * {
              padding-top: 0px;
            }
  
        .fila.gtr-25 {
          margin-top: -6.25px;
          margin-left: -6.25px;
        }
  
          .fila.gtr-25 > * {
            padding: 6.25px 0 0 6.25px;
          }
  
          .fila.gtr-25.gtr-uniform {
            margin-top: -6.25px;
          }
  
            .fila.gtr-25.gtr-uniform > * {
              padding-top: 6.25px;
            }
  
        .fila.gtr-50 {
          margin-top: -12.5px;
          margin-left: -12.5px;
        }
  
          .fila.gtr-50 > * {
            padding: 12.5px 0 0 12.5px;
          }
  
          .fila.gtr-50.gtr-uniform {
            margin-top: -12.5px;
          }
  
            .fila.gtr-50.gtr-uniform > * {
              padding-top: 12.5px;
            }
  
        .fila {
          margin-top: -25px;
          margin-left: -25px;
        }
  
          .fila > * {
            padding: 25px 0 0 25px;
          }
  
          .fila.gtr-uniform {
            margin-top: -25px;
          }
  
            .fila.gtr-uniform > * {
              padding-top: 25px;
            }
  
        .fila.gtr-150 {
          margin-top: -37.5px;
          margin-left: -37.5px;
        }
  
          .fila.gtr-150 > * {
            padding: 37.5px 0 0 37.5px;
          }
  
          .fila.gtr-150.gtr-uniform {
            margin-top: -37.5px;
          }
  
            .fila.gtr-150.gtr-uniform > * {
              padding-top: 37.5px;
            }
  
        .fila.gtr-200 {
          margin-top: -50px;
          margin-left: -50px;
        }
  
          .fila.gtr-200 > * {
            padding: 50px 0 0 50px;
          }
  
          .fila.gtr-200.gtr-uniform {
            margin-top: -50px;
          }
  
            .fila.gtr-200.gtr-uniform > * {
              padding-top: 50px;
            }
  
    }
  
    @media screen and (max-width: 980px) {
  
      .fila {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
      }
  
        .fila > * {
          box-sizing: border-box;
        }
  
        .fila.gtr-uniform > * > :last-child {
          margin-bottom: 0;
        }
  
        .fila.aln-left {
          justify-content: flex-start;
        }
  
        .fila.aln-center {
          justify-content: center;
        }
  
        .fila.aln-right {
          justify-content: flex-end;
        }
  
        .fila.aln-top {
          align-items: flex-start;
        }
  
        .fila.aln-middle {
          align-items: center;
        }
  
        .fila.aln-bottom {
          align-items: flex-end;
        }
  
        .fila > .imp-medium {
          order: -1;
        }
  
        .fila > .col-1-medium {
          width: 8.33333%;
        }
  
        .fila > .off-1-medium {
          margin-left: 8.33333%;
        }
  
        .fila > .col-2-medium {
          width: 16.66667%;
        }
  
        .fila > .off-2-medium {
          margin-left: 16.66667%;
        }
  
        .fila > .col-3-medium {
          width: 25%;
        }
  
        .fila > .off-3-medium {
          margin-left: 25%;
        }
  
        .fila > .col-4-medium {
          width: 33.33333%;
        }
  
        .fila > .off-4-medium {
          margin-left: 33.33333%;
        }
  
        .fila > .col-5-medium {
          width: 41.66667%;
        }
  
        .fila > .off-5-medium {
          margin-left: 41.66667%;
        }
  
        .fila > .col-6-medium {
          width: 50%;
        }
  
        .fila > .off-6-medium {
          margin-left: 50%;
        }
  
        .fila > .col-7-medium {
          width: 58.33333%;
        }
  
        .fila > .off-7-medium {
          margin-left: 58.33333%;
        }
  
        .fila > .col-8-medium {
          width: 66.66667%;
        }
  
        .fila > .off-8-medium {
          margin-left: 66.66667%;
        }
  
        .fila > .col-9-medium {
          width: 75%;
        }
  
        .fila > .off-9-medium {
          margin-left: 75%;
        }
  
        .fila > .col-10-medium {
          width: 83.33333%;
        }
  
        .fila > .off-10-medium {
          margin-left: 83.33333%;
        }
  
        .fila > .col-11-medium {
          width: 91.66667%;
        }
  
        .fila > .off-11-medium {
          margin-left: 91.66667%;
        }
  
        .fila > .col-12-medium {
          width: 100%;
        }
  
        .fila > .off-12-medium {
          margin-left: 100%;
        }
  
        .fila.gtr-0 {
          margin-top: 0px;
          margin-left: 0px;
        }
  
          .fila.gtr-0 > * {
            padding: 0px 0 0 0px;
          }
  
          .fila.gtr-0.gtr-uniform {
            margin-top: 0px;
          }
  
            .fila.gtr-0.gtr-uniform > * {
              padding-top: 0px;
            }
  
        .fila.gtr-25 {
          margin-top: -6.25px;
          margin-left: -6.25px;
        }
  
          .fila.gtr-25 > * {
            padding: 6.25px 0 0 6.25px;
          }
  
          .fila.gtr-25.gtr-uniform {
            margin-top: -6.25px;
          }
  
            .fila.gtr-25.gtr-uniform > * {
              padding-top: 6.25px;
            }
  
        .fila.gtr-50 {
          margin-top: -12.5px;
          margin-left: -12.5px;
        }
  
          .fila.gtr-50 > * {
            padding: 12.5px 0 0 12.5px;
          }
  
          .fila.gtr-50.gtr-uniform {
            margin-top: -12.5px;
          }
  
            .fila.gtr-50.gtr-uniform > * {
              padding-top: 12.5px;
            }
  
        .fila {
          margin-top: -25px;
          margin-left: -25px;
        }
  
          .fila > * {
            padding: 25px 0 0 25px;
          }
  
          .fila.gtr-uniform {
            margin-top: -25px;
          }
  
            .fila.gtr-uniform > * {
              padding-top: 25px;
            }
  
        .fila.gtr-150 {
          margin-top: -37.5px;
          margin-left: -37.5px;
        }
  
          .fila.gtr-150 > * {
            padding: 37.5px 0 0 37.5px;
          }
  
          .fila.gtr-150.gtr-uniform {
            margin-top: -37.5px;
          }
  
            .fila.gtr-150.gtr-uniform > * {
              padding-top: 37.5px;
            }
  
        .fila.gtr-200 {
          margin-top: -50px;
          margin-left: -50px;
        }
  
          .fila.gtr-200 > * {
            padding: 50px 0 0 50px;
          }
  
          .fila.gtr-200.gtr-uniform {
            margin-top: -50px;
          }
  
            .fila.gtr-200.gtr-uniform > * {
              padding-top: 50px;
            }
  
    }
  
    @media screen and (max-width: 736px) {
  
      .fila {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
      }
  
        .fila > * {
          box-sizing: border-box;
        }
  
        .fila.gtr-uniform > * > :last-child {
          margin-bottom: 0;
        }
  
        .fila.aln-left {
          justify-content: flex-start;
        }
  
        .fila.aln-center {
          justify-content: center;
        }
  
        .fila.aln-right {
          justify-content: flex-end;
        }
  
        .fila.aln-top {
          align-items: flex-start;
        }
  
        .fila.aln-middle {
          align-items: center;
        }
  
        .fila.aln-bottom {
          align-items: flex-end;
        }
  
        .fila > .imp-small {
          order: -1;
        }
  
        .fila > .col-1-small {
          width: 8.33333%;
        }
  
        .fila > .off-1-small {
          margin-left: 8.33333%;
        }
  
        .fila > .colo-2-small {
          width: 16.66667%;
        }
  
        .fila > .off-2-small {
          margin-left: 16.66667%;
        }
  
        .fila > .colo-3-small {
          width: 25%;
        }
  
        .fila > .off-3-small {
          margin-left: 25%;
        }
  
        .fila > .colo-4-small {
          width: 33.33333%;
        }
  
        .fila > .off-4-small {
          margin-left: 33.33333%;
        }
  
        .fila > .colo-5-small {
          width: 41.66667%;
        }
  
        .fila > .off-5-small {
          margin-left: 41.66667%;
        }
  
        .fila > .colo-6-small {
          width: 50%;
        }
  
        .fila > .off-6-small {
          margin-left: 50%;
        }
  
        .fila > .colo-7-small {
          width: 58.33333%;
        }
  
        .fila > .off-7-small {
          margin-left: 58.33333%;
        }
  
        .fila > .colo-8-small {
          width: 66.66667%;
        }
  
        .fila > .off-8-small {
          margin-left: 66.66667%;
        }
  
        .fila > .colo-9-small {
          width: 75%;
        }
  
        .fila > .off-9-small {
          margin-left: 75%;
        }
  
        .fila > .colo-10-small {
          width: 83.33333%;
        }
  
        .fila > .off-10-small {
          margin-left: 83.33333%;
        }
  
        .fila > .colo-11-small {
          width: 91.66667%;
        }
  
        .fila > .off-11-small {
          margin-left: 91.66667%;
        }
  
        .fila > .colo-12-small {
          width: 100%;
        }
  
        .fila > .off-12-small {
          margin-left: 100%;
        }
  
        .fila.gtr-0 {
          margin-top: 0px;
          margin-left: 0px;
        }
  
          .fila.gtr-0 > * {
            padding: 0px 0 0 0px;
          }
  
          .fila.gtr-0.gtr-uniform {
            margin-top: 0px;
          }
  
            .fila.gtr-0.gtr-uniform > * {
              padding-top: 0px;
            }
  
        .fila.gtr-25 {
          margin-top: -3.75px;
          margin-left: -3.75px;
        }
  
          .fila.gtr-25 > * {
            padding: 3.75px 0 0 3.75px;
          }
  
          .fila.gtr-25.gtr-uniform {
            margin-top: -3.75px;
          }
  
            .fila.gtr-25.gtr-uniform > * {
              padding-top: 3.75px;
            }
  
        .fila.gtr-50 {
          margin-top: -7.5px;
          margin-left: -7.5px;
        }
  
          .fila.gtr-50 > * {
            padding: 7.5px 0 0 7.5px;
          }
  
          .fila.gtr-50.gtr-uniform {
            margin-top: -7.5px;
          }
  
            .fila.gtr-50.gtr-uniform > * {
              padding-top: 7.5px;
            }
  
        .fila {
          margin-top: -15px;
          margin-left: -15px;
        }
  
          .fila > * {
            padding: 15px 0 0 15px;
          }
  
          .fila.gtr-uniform {
            margin-top: -15px;
          }
  
            .fila.gtr-uniform > * {
              padding-top: 15px;
            }
  
        .fila.gtr-150 {
          margin-top: -22.5px;
          margin-left: -22.5px;
        }
  
          .fila.gtr-150 > * {
            padding: 22.5px 0 0 22.5px;
          }
  
          .fila.gtr-150.gtr-uniform {
            margin-top: -22.5px;
          }
  
            .fila.gtr-150.gtr-uniform > * {
              padding-top: 22.5px;
            }
  
        .fila.gtr-200 {
          margin-top: -30px;
          margin-left: -30px;
        }
  
          .fila.gtr-200 > * {
            padding: 30px 0 0 30px;
          }
  
          .fila.gtr-200.gtr-uniform {
            margin-top: -30px;
          }
  
            .row.gtr-200.gtr-uniform > * {
              padding-top: 30px;
            }
  
    }
  
  /* Form */
  
  form label {
    coloor: #3e3e3e;
    font-weight: 700;
    display: block;
    margin: 0 0 0.5em 0;
  }
  
  form input[type=text],
  form input[type=email],
  form input[type=password],
  form select,
  form textarea {
    -moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    -webkit-appearance: none;
    display: block;
    border: 0;
    padding: 0.75em;
    font-size: 1em;
    border-radius: 8px;
    border: solid 1px #ddd;
    background: #fff;
    color: #bbb;
    box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025);
    width: 100%;
  }
  
    form input[type=text]:focus,
    form input[type=email]:focus,
    form input[type=password]:focus,
    form select:focus,
    form textarea:focus {
      background: #fafafa;
      box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025), inset 0px 0px 2px 1px #43bff0;
    }
  
  form textarea {
    height: 15em;
  }
  
  form .actions:last-child {
    margin-bottom: 0;
  }
  
  form ::-webkit-input-placeholder {
    color: #555 !important;
  }
  
  form :-moz-placeholder {
    color: #555 !important;
  }
  
  form ::-moz-placeholder {
    color: #555 !important;
  }
  
  form :-ms-input-placeholder {
    color: #555 !important;
  }
  
  form ::-moz-focus-inner {
    border: 0;
  }
  
  /* Tables */
  
  table {
    width: 100%;
  }
  
    table.default {
      width: 100%;
    }
  
      table.default tr {
        border-top: solid 1px #eee;
      }
  
        table.default tr:first-child {
          border-top: 0;
        }
  
      table.default td {
        padding: 0.5em 1em 0.5em 1em;
      }
  
      table.default th {
        text-align: left;
        padding: 0.5em 1em 0.5em 1em;
        font-weight: 600;
        margin: 0 0 1em 0;
      }
  
      table.default thead {
        background: #4f4f4f;
        color: #fff;
      }
  
  /* Section/Article */
  
  section, article {
    margin-bottom: 3em;
  }
  
  section > :last-child,
  article > :last-child,
  section:last-child,
  article:last-child {
    margin-bottom: 0;
  }
  
  /* Image */
  
  .image {
    display: inline-block;
    position: relative;
  }
  
    .image img {
      display: block;
      width: 100%;
    }
  
    .image.fit {
      display: flex;
      width: 10vw;
      height: 10vw;
    }
  
    .image.featured {
      display: block;
      width: 100%;
      margin: 0 0 2em 0;
    }
  
    .image.left {
      float: left;
      margin: 0 2em 2em 0;
    }
  
    .image.centered {
      display: block;
      margin: 0 0 2em 0;
    }
  
      .image.centered img {
        margin: 0 auto;
        width: auto;
      }
  
  /* Button */
  
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    background-image: url("images/bg.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url("images/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url("images/bg.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url("images/bg.png"), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
    background-color: #ff0404;
    padding: 1em 2.35em 1em 2.35em;
    font-size: 1.1em;
    max-width: 24em;
  }
  
    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover,
    .button:hover {
      background-color: #ff0404;
      color: #fff !important;
    }
  
    input[type="button"]:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    button:active,
    .button:active {
      background-color: #ff0404;
      top: 1px;
    }
  
    input[type="button"].large,
    input[type="submit"].large,
    input[type="reset"].large,
    button.large,
    .button.large {
      font-size: 1.5em;
      letter-spacing: -0.025em;
    }
  
    input[type="button"].alt,
    input[type="submit"].alt,
    input[type="reset"].alt,
    button.alt,
    .button.alt {
      background-color: #444;
      box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2);
    }
  
      input[type="button"].alt:hover,
      input[type="submit"].alt:hover,
      input[type="reset"].alt:hover,
      button.alt:hover,
      .button.alt:hover {
        background-color: #4f4f4f;
        color: #fff !important;
      }
  
      input[type="button"].alt:active,
      input[type="submit"].alt:active,
      input[type="reset"].alt:active,
      button.alt:active,
      .button.alt:active {
        background-color: #3f3f3f;
      }
  
      ul.actions {
        list-style: none;
        padding-left: 0;
      }
    
        ul.actions li {
          display: inline-block;
          margin: 0 0 0 1em;
          padding-left: 0;
        }
    
          ul.actions li:first-child {
            margin-left: 0;
          }
  
          .wrapper {
            background-image: url("images/bg.png");
            box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
            padding: 8em 0 8em 0;
            text-align: center;
          }
        
            .wrapper.style1 {
              background-image: none;
              background-color: #fff;
              margin-top: -6em;
            }
        
            .wrapper.style2 {
              background-color: #fafafa;
              text-shadow: 1px 1px 0px #fff;
            }
        
            .wrapper.style3 {
              background-color: #f4f4f4;
              text-shadow: 1px 1px 0px #fff;
            }
        
            .wrapper.style4 {
              background-color: #303030;
              color: #999;
              text-shadow: -1px -1px 0px #181818;
            }
        
              .wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
                color: #fff;
              }
        
              .wrapper.style4 form input[type=text],
              .wrapper.style4 form input[type=password],
              .wrapper.style4 form select,
              .wrapper.style4 form textarea {
                border: none;
                background: #282828;
              }
        
                .wrapper.style4 form input[type=text]:focus,
                .wrapper.style4 form input[type=password]:focus,
                .wrapper.style4 form select:focus,
                .wrapper.style4 form textarea:focus {
                  background: #252525;
                }